<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2>{{title}}</h2>
        <h4 class="mx-2"> Salary: ${{salary}}</h4>
    </div>
        <div class="d-flex justify-content-between">
            <h4 class="mx-2 mt-2">Location: {{location}}</h4>
            <a href="/save" class="mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg></a>
        </div>
    <div class="card-body">
        <h4>Job Summary:</h4> 
        <p>{{post_tease summary}} ...</p>
        <h4>Job Requirements:</h4>
        <p>{{post_tease reqs}} ...</p>
    </div>
    <div class="card-footer">
        <a href="/post/{{id}}" class="card-link">Click here for full details</a>
    </div>
</div>         
 
